html, body {
  font-family: Courier New; sans-serif;
  margin: none;
  width: 100%;
  height: 100%;
  color: orange;
  padding-left: none;
text-align: center;
   }


html {
    height:100%;
}

#background {
    text-align: center;
    width: 100%; 
    height: 100%; 
    position: fixed;
    left: 0px; 
    top: 0px; 
    z-index: -1;
}

.stretch {
    margin: none;
    height:100%;
}


h1 {
  font-size: 48px;
  text-align: center;
}

h2 {
  font-size: 32px;
  text-align: center;
}

a:link, a:visited {

  font-family: Courier New; sans-serif;
  font-size:20px;
    background-color: white;
    color: orange;
    border: 10px solid orange;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
  position: relative;
    background-color: orange;
    color: white;}

img.animated-gif{
  width: 50px;
  height: auto;
}

.sektion{
  float: left;
  width:50%;
  text-align:center;
}

#myChart{max-width: 350px;
		margin:auto;
max-height: 350px;}

#myChart2{max-width: 27%;
	margin-right:0px;
  margin-left: 250px;
float:left;}

#myChart3{max-width: 27%;
  margin-right:250px;
  margin-left: 0px;
float:right;}







